header#main-header {
  width: 100%;
  height: 60px;
  background: rgb(113, 89, 193);
  font-weight: bold;
  color: #fff;
  display: flax;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
